[Unit]
Description=Mentor4Trading Signal Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/telegram_bot
ExecStart=/usr/bin/python3 /root/telegram_bot/signal_bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
